requests[security]
urllib3[secure]
termcolor
dnspython
pyOpenSSL
idna
certifi
cryptography
ndg-httpsclient
pyasn1
selenium
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
