requests[security]
urllib3[secure]
termcolor
dnspython
pyOpenSSL
idna
certifi
cryptography
ndg-httpsclient
pyasn1
selenium
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
